In [1]:
# わざわざWSL上に環境作るハメに...
# notebookのコピーってどうやるんやろうね
!pwd

/home/kohki/NLP_100

In [32]:
# 問題10
f = open('popular-names.txt', 'r', encoding='UTF-8')
row_num = 0
for row in f:
    row_num += 1
f.close()
print(row_num)

'''
readlineが正攻法かな

data = open('popular-names.txt','r')
lines = data.readlines()
data.close()

pandasでごちゃちゃやるのも悪くないね

import pandas as pd

df = pd.read_table('./popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])
print(len(df))
'''

2780

"\nreadlineが正攻法かな\n\ndata = open('popular-names.txt','r')\nlines = data.readlines()\ndata.close()\n\npandasでごちゃちゃやるのも悪くないね\n\nimport pandas as pd\n\ndf = pd.read_table('./popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])\nprint(len(df))\n"

In [3]:
# 問題10の確認
!wc popular-names.txt

 2780 11120 55026 popular-names.txt

In [27]:
# 問題11

with open("popular-names.txt", "r", encoding='UTF-8') as f:
    lines = f.readlines() # なるほどreadlinesで一行ごとのlistになるのか
    # 本当はこれが正解だが、出力が長いので下のforをprintしている
    for line in lines:
        line.replace('\t', ' ')
    
    for i in range(10):
        line = lines[i]
        print(line.replace('\t', ' '), end='')
            
'''
data = open('popular-names.txt','r')
lines = data.readlines()
data.close()

for line in lines:
   print(line.replace('\t', ' '), end='')
'''

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

"\ndata = open('popular-names.txt','r')\nlines = data.readlines()\ndata.close()\n\nfor line in lines:\n   print(line.replace('\t', ' '), end='')\n"

In [31]:
# 問題11の確認
!head popular-names.txt |  tr '\t' ' '
# !sed -e 's/\t/ /g' ./popular-names.txt | head
# 多分解答のより自分の方が良い

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [47]:
# 問題12
import pandas as pd

df = pd.read_table('./popular-names.txt', header=None, sep='\t')
df1 = df.iloc[:, [0]]
df2 = df.iloc[:, [1]]
df1.to_csv('col1.txt', sep='\t')
df2.to_csv('col2.txt', sep='\t')

In [52]:
# 問題12の確認
!cut -f 1 popular-names.txt | head
#!cut -f 2 popular-names.txt | head

'''
この確かめ方良さげ
!cut -f 1 ./popular-names.txt > ./col1_chk.txt
!cat ./col1_chk.txt | head -n 5
'''

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [5]:
# 問題13
import pandas as pd

df1 = pd.read_table('./col1.txt', header=None, sep='\t')
df2 = pd.read_table('./col2.txt', header=None, sep='\t')

# 無理矢理ver
df_concat = pd.concat([df1.iloc[:, [1]], df2.iloc[:, [1]]], axis=1)
print(df_concat) 
df_concat.to_csv('col_merge.txt', sep='\t')

              1  1
0             0  1
1          Mary  F
2          Anna  F
3          Emma  F
4     Elizabeth  F
...         ... ..
2776   Benjamin  M
2777     Elijah  M
2778      Lucas  M
2779      Mason  M
2780      Logan  M

[2781 rows x 2 columns]

In [7]:
# 問題13の確認
!paste col1.txt col2.txt | head

	0		1
0	Mary	0	F
1	Anna	1	F
2	Emma	2	F
3	Elizabeth	3	F
4	Minnie	4	F
5	Margaret	5	F
6	Ida	6	F
7	Alice	7	F
8	Bertha	8	F

In [12]:
# 問題14
'''
pandasならこれでいい

def output_head(N):
  print(df.head(N))

output_head(5)
'''
def show_row_head(n):
    with open("popular-names.txt", "r", encoding='UTF-8') as file:
        lines = file.readlines()
    if n.isdecimal():
        n = int (n)
        for i in range(n):
            print(lines[i])
    

n = input('先頭から何行表示しますか: ')
show_row_head(n)

先頭から何行表示しますか:  4

Mary	F	7065	1880

Anna	F	2604	1880

Emma	F	2003	1880

Elizabeth	F	1939	1880

In [13]:
# 問題14の確認
!head -n 4 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880

In [19]:
# 問題15
'''
そう、pandasならね

def output_tail(N):
  print(df.tail(N))

output_tail(5)
'''
def show_row_tail(n):
    with open("popular-names.txt", "r", encoding='UTF-8') as file:
        lines = file.readlines()
    if n.isdecimal():
        n = int (n)
        lines_tail = len(lines) - 1
        for i in range(n):
            print(lines[lines_tail - i])
    

n = input('末尾から何行表示しますか: ')
show_row_tail(n)

末尾から何行表示しますか:  3

Logan	M	12352	2018

Mason	M	12435	2018

Lucas	M	12585	2018

In [20]:
# 問題15の確認
!tail -n 3 popular-names.txt

Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [12]:
# 問題16

N = 3
import pandas as pd
df = pd.read_csv('popular-names.txt', delimiter='\t', header=None)
step = - (-len(df) // N) # このstepとforの添字の積でN分割を実現
for n in range(N):
    df_split = df.iloc[n*step:(n+1)*step]
    df_split.to_csv('popular-names'+str(n)+'.txt', sep='\t',header=False, index=False)
'''
断念、調べたらpandasを使った書き方がスマートだった
import numpy as np

def file_split(n):
    with open("popular-names.txt", "r", encoding='UTF-8') as file:
        lines = file.readlines()
    if n.isdecimal():
        n = int (n)
        lines_size = len(lines)
        num_list = list(np.array_split(range(lines_size), n))
        print(num_list)
        print(num_list[0])
        for i in range(len(num_list)):
            for j in range(num_list[i]):
                
                

n = input('何分割しますか: ')
file_split(n)
'''

'\n断念、調べたらpandasを使った書き方がスマートだった\nimport numpy as np\n\ndef file_split(n):\n    with open("popular-names.txt", "r", encoding=\'UTF-8\') as file:\n        lines = file.readlines()\n    if n.isdecimal():\n        n = int (n)\n        lines_size = len(lines)\n        num_list = list(np.array_split(range(lines_size), n))\n        print(num_list)\n        print(num_list[0])\n        for i in range(len(num_list)):\n            for j in range(num_list[i]):\n                \n                \n\nn = input(\'何分割しますか: \')\nfile_split(n)\n'

In [14]:
# 問題16の確認
!split -n 3 popular-names.txt

In [14]:
# 問題17
import numpy as np
import pandas as pd
df = pd.read_table('./popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])
name_unique = df['name'].unique()
name_unique_sort = np.sort(name_unique)
name_unique_sort

array(['Abigail', 'Aiden', 'Alexander', 'Alexis', 'Alice', 'Amanda',
       'Amelia', 'Amy', 'Andrew', 'Angela', 'Anna', 'Annie', 'Anthony',
       'Ashley', 'Austin', 'Ava', 'Barbara', 'Benjamin', 'Bertha',
       'Bessie', 'Betty', 'Brandon', 'Brian', 'Brittany', 'Carol',
       'Carolyn', 'Charles', 'Charlotte', 'Chloe', 'Christopher', 'Clara',
       'Crystal', 'Cynthia', 'Daniel', 'David', 'Deborah', 'Debra',
       'Donald', 'Donna', 'Doris', 'Dorothy', 'Edward', 'Elijah',
       'Elizabeth', 'Emily', 'Emma', 'Ethan', 'Ethel', 'Evelyn',
       'Florence', 'Frances', 'Frank', 'Gary', 'George', 'Hannah',
       'Harper', 'Harry', 'Heather', 'Helen', 'Henry', 'Ida', 'Isabella',
       'Jacob', 'James', 'Jason', 'Jayden', 'Jeffrey', 'Jennifer',
       'Jessica', 'Joan', 'John', 'Joseph', 'Joshua', 'Judith', 'Julie',
       'Justin', 'Karen', 'Kathleen', 'Kelly', 'Kimberly', 'Larry',
       'Laura', 'Lauren', 'Liam', 'Lillian', 'Linda', 'Lisa', 'Logan',
       'Lori', 'Lucas', 'Madison', 'Margaret', 'Marie', 'Mark', 'Mary',
       'Mason', 'Matthew', 'Megan', 'Melissa', 'Mia', 'Michael',
       'Michelle', 'Mildred', 'Minnie', 'Nancy', 'Nicholas', 'Nicole',
       'Noah', 'Oliver', 'Olivia', 'Pamela', 'Patricia', 'Rachel',
       'Rebecca', 'Richard', 'Robert', 'Ronald', 'Ruth', 'Samantha',
       'Sandra', 'Sarah', 'Scott', 'Sharon', 'Shirley', 'Sophia',
       'Stephanie', 'Steven', 'Susan', 'Tammy', 'Taylor', 'Thomas',
       'Tracy', 'Tyler', 'Virginia', 'Walter', 'William'], dtype=object)

In [15]:
# 問題17の確認
!cut -f1 popular-names.txt | sort | uniq | head

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

In [16]:
# 問題18
import pandas as pd
df = pd.read_table('./popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])
df_sort = df.sort_values('number', ascending=False)
df_sort

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947
...       ...  ..     ...   ...
27      Annie   F    1326  1881
28     Bertha   F    1324  1881
8      Bertha   F    1320  1880
29      Alice   F    1308  1881
9       Sarah   F    1288  1880

[2780 rows x 4 columns]

In [27]:
# 問題18の確認
# sort -rnkってやるんだ
!sort -rnk 3 popular-names.txt | head

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

In [28]:
# 問題19
import pandas as pd
df = pd.read_table('./popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])
name_counts = df['name'].value_counts()
name_counts

James      118
William    111
John       108
Robert     108
Mary        92
          ...
Carolyn      1
Walter       1
Pamela       1
Lori         1
Julie        1
Name: name, Length: 136, dtype: int64

In [42]:
# 問題19の確認
# 2回sortを入れるのがポイント
!cut -f 1 popular-names.txt | sort | uniq -c | sort -rn | head

    118 James
    111 William
    108 Robert
    108 John
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret